{% extends 'registration/base.html' %}

{% block content %}
<div class="register-box">
    {% if request.user.is_authenticated %}
    <p>Ya tienes una sesión abierta, si no eres <b>{{ request.user.username }}</b>, puedes cerrar sesión haciendo clic <a href="{% url 'logout' %}">aquí</a>.</p>
    <p>Volver a la <a href="{% url 'home' %}">página de inicio</a>.</p>
    {% else %}
    <div class="card card-outline card-primary">
        {% include 'registration/includes/logo.html' %}
        <div class="card-body">
            <p class="login-box-msg">Registrar una nueva cuenta.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col-7">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">Acepto los <a href="#">términos</a>.</label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-5">
                        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <p class="mt-3 mb-0">
                <a href="{% url 'login' %}">Ya tengo una cuenta</a>
            </p>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
    {% endif %}
</div>
<!-- /.register-box -->
{% endblock %}