{% extends 'base.html' %}

{% block content %}
          <div class="col-lg-12">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="card-title m-0"><i class="fas fa-funnel-dollar"></i> This is all of our leads</h5>
              </div>
              <div class="card-body">
                <ul>
                {% for lead in leads %}
                  <li><a href="{{ lead.pk }}">{{ lead.first_name }} {{ lead.last_name }}</a> | Edad: {{ lead.age }}</li>
                {% endfor %}
                </ul>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-12 -->
{% endblock content %}